# Exclude vendor directory and compiled binary
vendor/
event-horizon-mailsvc

# Ignore Go build cache
**/.cache
**/.go-build

# Ignore test files
*_test.go

# Ignore miscellaneous files like README and .gitignore
README.md
.gitignore

# Ignore version control directories
.git/
.svn/
.hg/

# Ignore common file formats that are not needed in Docker image
*.md
*.txt
LICENSE
.dockerignore
Dockerfile

# Ignore IDE/Editor files
.vscode/
.idea/
*.subl-project
*.subl-workspace
